/* Farmers.css */
.farmers {
    padding: 20px;
}

.farmers-header {
    text-align: center;
    margin-bottom: 40px;
}

.farmers-header h1 {
    font-size: 36px;
    color: #033a1c; /* Dark green color */
    margin-bottom: 15px;
}

.farmers-header p {
    font-size: 18px;
    color: #555;
}

.farmers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.farmer-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 300px;
    transition: transform 0.2s ease;
}

.farmer-card:hover {
    transform: translateY(-5px);
}

.farmer-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.farmer-card h3 {
    font-size: 24px;
    color: #033a1c;
    margin-bottom: 10px;
}

.farmer-card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.view-profile {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #a1c045; /* Light green color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.view-profile:hover {
    background-color: #8ea936;
}
