/* Register.css */
.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h2 {
    font-size: 28px;
    color: #033a1c; /* Dark green color */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-button {
    width: 100%;
    padding: 15px;
    background-color: #a1c045; /* Light green color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #8ea936;
}

.register-footer {
    margin-top: 20px;
}

.register-footer p {
    font-size: 14px;
    color: #555;
}

.register-footer a {
    color: #033a1c;
    text-decoration: none;
}

.register-footer a:hover {
    text-decoration: underline;
}
